<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Meco_Production_Plan.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Meco_Production_Plan.My.MySettings.DBxConnectionString1"
            connectionString="Data Source=172.16.0.102;Initial Catalog=DBx;User ID=system;Password=p@$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="Meco_Production_Plan.My.MySettings.DBxConnectionString"
            connectionString="Data Source=172.16.0.102;Initial Catalog=DBx;User ID=system;Password=p@$$w0rd"
            providerName="System.Data.SqlClient" />
        <add name="Meco_Production_Plan.My.MySettings.APCSDBConnectionString"
            connectionString="Data Source=172.16.0.102;Initial Catalog=APCSDB;Persist Security Info=True;User ID=system;Password=p@$$w0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Meco_Production_Plan.My.MySettings>
            <setting name="TimeStr" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastPKG" serializeAs="String">
                <value />
            </setting>
            <setting name="lastGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="Percent" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="PlanDayDivide" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MCNo" serializeAs="String">
                <value>PL-M-01</value>
            </setting>
        </Meco_Production_Plan.My.MySettings>
    </userSettings>
</configuration>
